<header>
    <nav class="mind">
        <a>MIND 4.0</a>
    </nav>
    <nav class="navegacion">
        <ul class="menu">
            <li><a href="{% url 'index' %}"><b>Inicio</b></a>
                <ul class="submenu">
                    <li><a>12345</a></li>
                </ul>
            </li>
            <li><a  href="{% url 'game' %}"><b>Juego</b></a>
                <ul class="submenu">
                    <li><a>12345</a></li>
                </ul>
            </li>
            <li><a  href="{% url 'info' %}"><b>Informacion</b></a>
                <ul class="submenu">
                    <li><a>12345</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>