{% extends 'base.html' %}


{% block content %}

<center>

    <div class="contenido">
        <h1>¡Ciberseguridad!</h1>
        <h2>¿Qué es?</h2>

        <p>La ciberseguridad, también conocida como seguridad de las tecnologías de la información o seguridad digital,
            es la práctica de proteger sistemas informáticos, equipos, redes y datos digitales confidenciales de
            posibles ataques y/o amenazas digitales, como robos, daños o accesos no autorizados. Por lo tanto, el
            objetivo principal de la ciberseguridad es garantizar la confidencialidad, integridad y disponibilidad de
            los datos.
            Los tres pilares de la ciberseguridad son la Confidencialidad, Integridad y Acceso, conocidos usualmente
            como “CIA”.</p>

        <li><b>Confidencialidad:</b> Mantener los secretos y garantizar que solo los usuarios autorizados puedan obtener
            acceso a sus archivos y cuentas.</li>
        <li><b>Integridad:</b> Garantizar que su información es la que debe ser y de que nadie ha insertado, modificado
            o
            eliminado cosas sin su permiso.</li>
        <li><b>Acceso:</b> Garantizar que puede tener acceso a su información y sistemas cuando lo necesite.</li>
        <br><br>


        <h2>Beneficios</h2>

        <h4>Mayor seguridad de los datos</h4>
        <p>Ayuda a proteger la información de los usuarios a través de medidas como el uso de firewalls,
            cortafuegos, la encriptación, el monitoreo de actividades sospechosas y la seguridad de la red; las
            cuales garantizan que los datos sean siempre confiables y se mantengan seguros.</p>

        <h4>Mejor control de acceso</h4>
        <p>El establecimiento de una estrategia de ciberseguridad puede ayudar a limitar el acceso a los datos y
            recursos, así como el uso no autorizado de la información. De esta forma, la ciberseguridad mejora el
            control de acceso mediante medidas como la verificación y autenticación de usuarios, configuración de
            contraseñas seguras, el uso de herramientas de seguridad para detectar y prevenir intrusiones.</p>

        <h4>Protección de la infraestructura de red</h4>
        <p>Implementar medidas para proteger la red y los sistemas de una empresa de posibles vulnerabilidades
            digitales es de gran importancia. Esto incluye la instalación de software de seguridad, el control de
            acceso a la red, y el entrenamiento de los empleados para que entiendan los riesgos y puedan usar la red
            con cuidado.</p>

        <h4>Cumplimiento de los requisitos legales</h4>
        <p>La ciberseguridad puede ayudar a cumplir con los requisitos legales relacionados con la protección de
            datos. El Compliance de Ciberseguridad o Cumplimiento IT es una de las herramientas más importantes para
            garantizar que las empresas cumplan con los requisitos de seguridad que se piden para la industria.</p>

        <h4>Confianza de los clientes</h4>
        <p>Tener identificadas las amenazas cibernéticas y conocer la forma de enfrentarlas, permite a los clientes
            y usuarios confiar en que sus datos estén seguros y protegidos por una determinada empresa. Por lo
            tanto, adoptar una estrategia segura de ciberseguridad es una necesidad para cualquier empresa que desee
            garantizar la confianza de sus clientes o usuarios en general.</p>

        <h4>Mayor productividad del equipo</h4>
        <p>Tener una estrategia de ciberseguridad bien estructurada permite a los equipos trabajar de una forma más
            eficiente y segura, ya que esto les permite concentrarse en sus tareas sin preocuparse por que sus
            equipos no estén protegidos.</p>

        <h4>Controlar el riesgo de pérdidas financieras</h4>
        <p>El costo a nivel financiero de un ciberataque suele ser alto y, en ocasiones, difícil de resolver. Si
            este gasto no está contemplado previamente por la empresa, puede ocasionar desde grandes pérdidas
            financieras hasta el extravío total de información valiosa.
            Debido a esto, las empresas deben recurrir a estrategias de ciberseguridad o a empresas dedicadas a ello
            para superar estas crisis y/o ataques, y proteger tus sistemas a partir de ese momento.</p>

        <h4>Mayor conciencia de la seguridad</h4>
        <p>Por último, uno de los mayores beneficios de la ciberseguridad es que los usuarios, empleados, clientes
            y hasta proveedores, pueden comenzar a tener más conciencia sobre la importancia del cuidado de la
            seguridad digital en un mundo más conectado digitalmente.</p>


            <h6>Cuestionario</h6>

            <li>¿Cómo se define la ciberseguridad?<br>
            <input type="radio" name="q1" value="A">A) Protección de la vida silvestre.<br>
            <input type="radio" name="q1" value="A">B) Protección de sistemas informáticos, equipos, redes y datos digitales confidenciales.<br>
            <input type="radio" name="q1" value="A">C) Protección de la privacidad en línea.<br>
            <input type="radio" name="q1" value="A">D) Protección de la infraestructura física.<br>
            
            <li>¿Cuál de los siguientes no es uno de los pilares de la ciberseguridad?<br>
            <input type="radio" name="q2" value="A">A) Confidencialidad.<br>
            <input type="radio" name="q2" value="A">B) Integridad.<br>
            <input type="radio" name="q2" value="A">C) Disponibilidad.<br>
            <input type="radio" name="q2" value="A">D) Acceso.<br>
            
            <li>¿Cuál es el objetivo principal de la ciberseguridad?<br>
            <input type="radio" name="q3" value="A">A) Garantizar la confidencialidad de los datos.<br>
            <input type="radio" name="q3" value="A">B) Garantizar la integridad de los datos.<br>
            <input type="radio" name="q3" value="A">C) Garantizar la disponibilidad de los datos.<br>
            <input type="radio" name="q3" value="A">D) Todas las anteriores.<br>
            
            <li>¿Qué beneficio de la ciberseguridad ayuda a proteger la información de los usuarios a través de medidas como el uso de firewalls y encriptación?<br>
            <input type="radio" name="q4" value="A">A) Mayor seguridad de los datos.<br>
            <input type="radio" name="q4" value="A">B) Mejor control de acceso.<br>
            <input type="radio" name="q4" value="A">C) Protección de la infraestructura de red.<br>
            <input type="radio" name="q4" value="A">D) Cumplimiento de los requisitos legales.<br>
            
            <li>¿Qué beneficio de la ciberseguridad limita el acceso a los datos y recursos, así como el uso no autorizado de la información?<br>
            <input type="radio" name="q5" value="A">A) Mayor seguridad de los datos.<br>
            <input type="radio" name="q5" value="A">B) Mejor control de acceso.<br>
            <input type="radio" name="q5" value="A">C) Protección de la infraestructura de red.<br>
            <input type="radio" name="q5" value="A">D) Cumplimiento de los requisitos legales.<br>
            
            <li>¿Qué beneficio de la ciberseguridad ayuda a cumplir con los requisitos legales relacionados con la protección de datos?<br>
            <input type="radio" name="q6" value="A">A) Cumplimiento de los requisitos legales.<br>
            <input type="radio" name="q6" value="A">B) Confianza de los clientes.<br>
            <input type="radio" name="q6" value="A">C) Mayor productividad del equipo.<br>
            <input type="radio" name="q6" value="A">D) Controlar el riesgo de pérdidas financieras.<br>
            
            <li>¿Qué beneficio de la ciberseguridad permite a los clientes y usuarios confiar en que sus datos están seguros y protegidos por una empresa?<br>
            <input type="radio" name="q7" value="A">A) Cumplimiento de los requisitos legales.<br>
            <input type="radio" name="q7" value="A">B) Confianza de los clientes.<br>
            <input type="radio" name="q7" value="A">C) Mayor productividad del equipo.<br>
            <input type="radio" name="q7" value="A">D) Controlar el riesgo de pérdidas financieras.<br>
            
            <li>¿Qué beneficio de la ciberseguridad permite a los equipos trabajar de forma más eficiente y segura?<br>
            <input type="radio" name="q8" value="A">A) Mayor seguridad de los datos.<br>
            <input type="radio" name="q8" value="A">B) Mejor control de acceso.<br>
            <input type="radio" name="q8" value="A">C) Mayor productividad del equipo.<br>
            <input type="radio" name="q8" value="A">D) Controlar el riesgo de pérdidas financieras.<br>

            <li>¿Cuál es uno de los beneficios de la ciberseguridad en términos de controlar el riesgo de pérdidas financieras?<br>
            <input type="radio" name="q9" value="A">A) Mayor seguridad de los datos.<br>
            <input type="radio" name="q9" value="A">B) Protección de la infraestructura de red.<br>
            <input type="radio" name="q9" value="A">C) Controlar el riesgo de pérdidas financieras.<br>
            <input type="radio" name="q9" value="A">D) Mejor coincidencia de la seguridad.<br>
            
            <li>¿Cuál es uno de los beneficios de la ciberseguridad en términos de conciencia sobre la importancia del cuidado de la seguridad digital?<br>
            <input type="radio" name="q10" value="A">A) Mayor seguridad de los datos.<br>
            <input type="radio" name="q10" value="A">B) Mejor coincidencia de la seguridad.<br>
            <input type="radio" name="q10" value="A">C) Controlar el riesgo de pérdidas financieras.<br>
            <input type="radio" name="q10" value="A">D) Cumplimiento de los requisitos legales.<br>


        </a>
    </div>

</center>

{% endblock %}