</body>

</html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Irish Grover' rel='stylesheet'>
    <style>
        body {
            background-color: #042440;
        }

        .mind {
            background-color: #4C84BC;
            padding: 30px 20px;
            text-align: center
        }

        .mind>a {
            color: white;
            font-family: 'Irish Grover';
            font-size: 40px;
        }

        .navegacion {
            background-color: #A2BEDC;
            padding: 10px 20px;
            text-align: center
        }

        .navegacion ul {
            list-style: none;
        }

        .menu>li {
            position: relative;
            display: inline-block;
        }

        .menu>li>a {
            padding: 10px 25px;
            background: #AE8CC0;
            color: white;
            font-family: 'Irish Grover';
            font-size: 22px;
            text-decoration: none;
            box-shadow: 1px 3px 5px gray;
            border-radius: 40px;
            margin: 0 5em 0 5em;
        }

        .menu li a:hover {
            color: black;
            transition: all .3s;
        }

        .submenu {
            position: absolute;
            background: #333333;
            width: 30%;
            visibility: hidden;
            opacity: 0;
            transition: opacity 1.5s;
            box-shadow: 1px 3px 5px gray;
            border-radius: 40px;
            text-align: center;
            float: rigth;
            margin: 0 5em 0 7em
        }

        .submenu li a {
            display: block;
            color: white;
            padding: 10px;
            font-family: Irish grover;
            text-decoration: none;
        }

        .menu li:hover .submenu {
            visibility: visible;
            opacity: 1;
        }

        .materia {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .detalles {
            width: 500px;
            font-family: 'Irish Grover';
            color: white;
            margin: 3em auto 0 5em;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <nav class="mind">
        <a>MIND 4.0</a>
    </nav>
    <nav class="navegacion">
        <ul class="menu">
            <li><a><b></b></a>
                <ul class="submenu">
                    <li><a>12345</a></li>
                </ul>
            </li>
            <li><a><b>Cuestionario</b></a>
                <ul class="submenu">
                    <li><a>12345</a></li>
                </ul>
            </li>
            <li><a><b>Inicio</b></a>
                <ul class="submenu">
                    <li><a>12345</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <center>
        <div class="materia">
            <div class="detalles">

                </a>
            </div>
            <div class="detalles">
                <h2>Cuestionario</h2>

                <h3>ELECTROMOVILIDAD</h3>
                <ol>

                    Cuestionario
                    <li>De acuerdo con la tecnología de transporte, ¿cuál es la definición de electromovilidad?<br>
                        <input type="radio" name="q1" value="A">A) Uso de sistemas de impulso o tracción que utilizan
                        energía eléctrica.<br>
                        <input type="radio" name="q1" value="A">B) Uso exclusivo de trenes y aviones eléctricos.<br>
                        <input type="radio" name="q1" value="A">C) Uso de energía nuclear en el transporte.<br>
                        <input type="radio" name="q1" value="A">D) Uso de energía solar en el transporte.<br>

                    <li>¿Cuándo fue el origen de la electromovilidad en Francia?<br>
                        <input type="radio" name="q1" value="A">A) En el año 2000.<br>
                        <input type="radio" name="q1" value="A">B) En el siglo XVIII.<br>
                        <input type="radio" name="q1" value="A">C) A finales del siglo XIX.<br>
                        <input type="radio" name="q1" value="A">D) En el siglo XXI.<br>

                    <li>¿Cuál fue el primer medio de transporte eléctrico en la Ciudad de México?<br>
                        <input type="radio" name="q1" value="A">A) Autobús eléctrico.<br>
                        <input type="radio" name="q1" value="A">B) Trolebús.<br>
                        <input type="radio" name="q1" value="A">C) Metro.<br>
                        <input type="radio" name="q1" value="A">D) Bicicleta eléctrica.<br>

                    <li>¿Cuál es uno de los beneficios directos de la electromovilidad en la calidad del aire?<br>
                        <input type="radio" name="q1" value="A">A) Aumento de la contaminación local.<br>
                        <input type="radio" name="q1" value="A">B) Reducción de emisiones de gases y partículas.<br>
                        <input type="radio" name="q1" value="A">C) Mayor contaminación acústica.<br>
                        <input type="radio" name="q1" value="A">D) Aumento de la contaminación del agua.<br>

                    <li>¿Qué contribución hace la electromovilidad en la lucha contra el cambio climático?<br>
                        <input type="radio" name="q1" value="A">A) Produce emisiones directas de CO2.<br>
                        <input type="radio" name="q1" value="A">B) Utiliza electricidad como fuente de alimentación.<br>
                        <input type="radio" name="q1" value="A">C) Utiliza combustión fósil.<br>
                        <input type="radio" name="q1" value="A">D) Aumenta el efecto invernadero.<br>

                    <li>¿Qué efecto tiene la electromovilidad en la gestión de residuos?<br>
                        <input type="radio" name="q1" value="A">A) Aumenta la cantidad de residuos peligrosos.<br>
                        <input type="radio" name="q1" value="A">B) Reduce el manejo de residuos peligrosos.<br>
                        <input type="radio" name="q1" value="A">C) Requiere más lubricantes y filtros.<br>
                        <input type="radio" name="q1" value="A">D) Aumenta el desgaste de los sistemas de frenos.<br>

                    <li>¿Cuál es uno de los beneficios indirectos de la electromovilidad en la salud pública?<br>
                        <input type="radio" name="q1" value="A">A) Aumento de las enfermedades respiratorias.<br>
                        <input type="radio" name="q1" value="A">
                        B) Disminución de las enfermedades respiratorias.<br>
                        <input type="radio" name="q1" value="A">
                        C) Aumento de las enfermedades cardiacas.<br>
                        <input type="radio" name="q1" value="A">
                        D) Aumento de la obesidad.<br>

                    <li>¿Qué impacto se espera en la generación de empleos con la consolidación de la electromovilidad
                        en México?<br>
                        <input type="radio" name="q1" value="A">
                        A) No se espera ningún impacto.<br>
                        <input type="radio" name="q1" value="A">
                        B) Se espera una disminución de empleos.<br>
                        <input type="radio" name="q1" value="A">
                        C) Se espera una generación de empleos directa e indirecta.<br> <input type="radio" name="q1"
                            value="A">
                        D) Se espera una disminución de empleos directa e indirecta.<br>

                        <h4>I.A</h4>

                        <h5>Cuestionario</h5>
                    <li>¿Cómo se define a la Inteligencia Artificial (IA)?<br>
                        <input type="radio" name="q1" value="A">A) Como tecnología que emula la inteligencia humana.<br>
                        <input type="radio" name="q1" value="A">B) Como una forma de vida artificial.<br>
                        <input type="radio" name="q1" value="A">C) Como un método para controlar robots.<br>
                        <input type="radio" name="q1" value="A">D) Como un tipo de inteligencia extraterrestre.<br>

                    <li>¿Quién acuñó el término "Inteligencia Artificial" en 1955?<br>
                        <input type="radio" name="q1" value="A">A) Alan Turing.<br>
                        <input type="radio" name="q1" value="A">B) John McCarthy.<br>
                        <input type="radio" name="q1" value="A">C) Marvin Minsky.<br>
                        <input type="radio" name="q1" value="A">D) Herbert Simon.<br>

                    <li>¿En qué año se llevó a cabo la conferencia de Dartmouth sobre Inteligencia Artificial?<br>
                        <input type="radio" name="q1" value="A">A) 1945.<br>
                        <input type="radio" name="q1" value="A">B) 1956.<br>
                        <input type="radio" name="q1" value="A">C) 1965.<br>
                        <input type="radio" name="q1" value="A">D) 1975.<br>

                    <li>¿Cuál es uno de los beneficios de la Inteligencia Artificial en la toma de decisiones?<br>
                        <input type="radio" name="q1" value="A">A) Reduce la cantidad de información disponible.<br>
                        <input type="radio" name="q1" value="A">B) Aumenta el tiempo necesario para tomar
                        decisiones.<br>
                        <input type="radio" name="q1" value="A">C) Analiza grandes cantidades de información en poco
                        tiempo.<br>
                        <input type="radio" name="q1" value="A">D) Limita las opciones disponibles para tomar
                        decisiones.<br>

                    <li>¿Cómo fomenta la Inteligencia Artificial la creatividad en el trabajo?<br>
                        <input type="radio" name="q1" value="A">A) Aumentando el tiempo dedicado a tareas
                        rutinarias.<br>
                        <input type="radio" name="q1" value="A">B) Reduciendo el tiempo dedicado a tareas
                        repetitivas.<br>
                        <input type="radio" name="q1" value="A">C) Permitiendo a los empleados dedicar más tiempo a
                        actividades creativas.<br>
                        <input type="radio" name="q1" value="A">D) Limitando la capacidad de los empleados para proponer
                        mejoras.<br>

                    <li>¿Qué beneficio tiene la Inteligencia Artificial en la productividad y calidad en la
                        producción?<br>
                        <input type="radio" name="q1" value="A">A) Reduce la calidad del trabajo.<br>
                        <input type="radio" name="q1" value="A">B) Aumenta la cantidad de errores humanos.<br>
                        <input type="radio" name="q1" value="A">C) Incrementa la productividad y mejora la calidad del
                        trabajo.<br>
                        <input type="radio" name="q1" value="A">D) Limita la cantidad de información disponible para los
                        trabajadores.<br>

                    <li>¿En qué campo ha logrado grandes avances la Inteligencia Artificial en el diagnóstico de
                        enfermedades?<br>
                        <input type="radio" name="q1" value="A">A) Educación.
                        <input type="radio" name="q1" value="A">B) Agricultura.
                        <input type="radio" name="q1" value="A">C) Medicina.
                        <input type="radio" name="q1" value="A">D) Transporte.

                    <li>¿Cómo contribuye la Inteligencia Artificial a la seguridad informática?<br>
                        <input type="radio" name="q1" value="A">A) Ayuda a aumentar los errores de seguridad.<br>
                        <input type="radio" name="q1" value="A">B) Contribuye a detectar posibles fraudes o ataques
                        informáticos.<br>
                        <input type="radio" name="q1" value="A">C) Limita la capacidad de prevenir ataques
                        informáticos.<br>
                        <input type="radio" name="q1" value="A">D) No tiene impacto en la seguridad informática.<br>

                        <h6>CIBERSEGURIRDAD</h6>
                        <h7>Cuestionario</h7>

                    <li>¿Cómo se define la ciberseguridad?<br>
                        <input type="radio" name="q1" value="A">A) Protección de la vida silvestre.<br>
                        <input type="radio" name="q1" value="A">B) Protección de sistemas informáticos, equipos, redes y
                        datos digitales confidenciales.<br>
                        <input type="radio" name="q1" value="A">C) Protección de la privacidad en línea.<br>
                        <input type="radio" name="q1" value="A">D) Protección de la infraestructura física.<br>

                    <li>¿Cuál de los siguientes no es uno de los pilares de la ciberseguridad?<br>
                        <input type="radio" name="q1" value="A">A) Confidencialidad.<br>
                        <input type="radio" name="q1" value="A">B) Integridad.<br>
                        <input type="radio" name="q1" value="A">C) Disponibilidad.<br>
                        <input type="radio" name="q1" value="A">D) Acceso.<br>

                    <li>¿Cuál es el objetivo principal de la ciberseguridad?<br>
                        <input type="radio" name="q1" value="A">A) Garantizar la confidencialidad de los datos.<br>
                        <input type="radio" name="q1" value="A">B) Garantizar la integridad de los datos.<br>
                        <input type="radio" name="q1" value="A">C) Garantizar la disponibilidad de los datos.<br>
                        <input type="radio" name="q1" value="A">D) Todas las anteriores.<br>


                    <li>¿Qué beneficio de la ciberseguridad ayuda a proteger la información de los usuarios a través de
                        medidas como el uso de firewalls y encriptación?<br>
                        <input type="radio" name="q1" value="A">A) Mayor seguridad de los datos.<br>
                        <input type="radio" name="q1" value="A">B) Mejor control de acceso.<br>
                        <input type="radio" name="q1" value="A">C) Protección de la infraestructura de red.<br>
                        <input type="radio" name="q1" value="A">D) Cumplimiento de los requisitos legales.<br>

                    <li>¿Qué beneficio de la ciberseguridad limita el acceso a los datos y recursos, así como el uso no
                        autorizado de la información?<br>
                        <input type="radio" name="q1" value="A">A) Mayor seguridad de los datos.<br>
                        <input type="radio" name="q1" value="A">B) Mejor control de acceso.<br>
                        <input type="radio" name="q1" value="A">C) Protección de la infraestructura de red.<br>
                        <input type="radio" name="q1" value="A">D) Cumplimiento de los requisitos legales.<br>

                    <li>¿Qué beneficio de la ciberseguridad ayuda a cumplir con los requisitos legales relacionados con
                        la protección de datos?<br>
                        <input type="radio" name="q1" value="A">A) Cumplimiento de los requisitos legales.<br>
                        <input type="radio" name="q1" value="A">B) Confianza de los clientes.<br>
                        <input type="radio" name="q1" value="A">C) Mayor productividad del equipo.<br>
                        <input type="radio" name="q1" value="A">D) Controlar el riesgo de pérdidas financieras.<br>

                    <li>¿Qué beneficio de la ciberseguridad permite a los clientes y usuarios confiar en que sus datos
                        están seguros y protegidos por una empresa?<br>
                        <input type="radio" name="q1" value="A">A) Cumplimiento de los requisitos legales.<br>
                        <input type="radio" name="q1" value="A">B) Confianza de los clientes.<br>
                        <input type="radio" name="q1" value="A">C) Mayor productividad del equipo.<br>
                        <input type="radio" name="q1" value="A">D) Controlar el riesgo de pérdidas financieras.<br>



                    <li>¿Qué beneficio de la ciberseguridad permite a los equipos trabajar de forma más eficiente y
                        segura?<br>
                        <input type="radio" name="q1" value="A">A) Mayor seguridad de los datos.<br>
                        <input type="radio" name="q1" value="A">B) Mejor control de acceso.<br>
                        <input type="radio" name="q1" value="A">C) Mayor productividad del equipo.<br <input
                            type="radio" name="q1" value="A">D) Controlar el riesgo de pérdidas financieras.<br>

                    <li>¿Cuál es uno de los beneficios de la ciberseguridad en términos de controlar el riesgo de
                        pérdidas financieras?<br>
                        <input type="radio" name="q1" value="A">A) Mayor seguridad de los datos.<br>
                        <input type="radio" name="q1" value="A">B) Protección de la infraestructura de red.<br>
                        <input type="radio" name="q1" value="A">C) Controlar el riesgo de pérdidas financieras.<br>
                        <input type="radio" name="q1" value="A">D) Mejor coincidencia de la seguridad.<br>

                    <li>¿Cuál es uno de los beneficios de la ciberseguridad en términos de conciencia sobre la
                        importancia del cuidado de la seguridad digital?<br>
                        <input type="radio" name="q1" value="A">A) Mayor seguridad de los datos.<br>
                        <input type="radio" name="q1" value="A">B) Mejor coincidencia de la seguridad.<br>
                        <input type="radio" name="q1" value="A">C) Controlar el riesgo de pérdidas financieras.<br>
                        <input type="radio" name="q1" value="A">D) Cumplimiento de los requisitos legales.<br>


                </ol>
            </div>
        </div>
    </center>
</body>

</html>