{% extends 'base.html' %}

{% block content %}

<center>
    <div class="contenido">
        <h1>¡Electromovilidad!</h1>
        <h2>¿Qué es?</h2>

        Existen dos tipos de definiciones para el término de electromovilidad. Como tecnología de transporte, la
        electromovilidad o movilidad eléctrica se define como el uso de sistemas de impulso o tracción que utilizan
        energía eléctrica aplicados a diferentes medios de transporte, como trenes, motocicletas, aviones,
        vehículos, entre otros (Comisión Nacional para el Uso Eficiente de la Energía, 2023) (Singh et al., 2023).
        Por otro lado, la movilidad eléctrica también es considerada como una industria conectiva enfocada en
        satisfacer las necesidades de movilidad basándose en los principios de sustentabilidad (Singh et al., 2023).

        <h3>ORIGEN</h3>

        De acuerdo con el libro “Nuevos términos clave para los estudios de movilidad en América Latina” (Singh et
        al., 2023), la electromovilidad se origina con el surgimiento de los primeros vehículos eléctricos en el
        mundo a finales del siglo XIX. En particular, la historia menciona el uso de vehículos eléctricos privados
        en Francia, país donde se impulsó esta industria a finales de 1800.
        En el caso de México, la electromovilidad estuvo presente en el país desde inicios del siglo pasado. En el
        año 1900 se inauguró el primer tranvía eléctrico en lo que hoy es la Ciudad de México, y para 1951 el
        trolebús inició sus operaciones en la capital del país (Scania, s.f.).
        De acuerdo con el artículo en línea “Electromovilidad En México: Retos Y Beneficios” (s.f.) de la empresa
        Scania, la movilidad eléctrica es una realidad cada vez más cercana en América Latina. La Asociación
        Nacional de Productores de Autobuses, Camiones y Tractocamiones (ANPACT) contabilizó 3,209 vehículos
        eléctricos en la región, lo cual evitó hasta 284,88 kt de emisiones contaminantes al año.

        <h4>Beneficios</h4>
        El uso de vehículos eléctricos es cada vez más frecuente en las ciudades. Debido a que la movilidad es uno
        de los sectores más importantes en un mundo acelerado y en constante movimiento, es importante conocer todos
        los beneficios que la electromovilidad tiene:
        Mejora en la calidad del aire
        Un vehículo eléctrico no produce emisiones de gases ni partículas mientras está en movimiento, impactando de
        forma directa en mejorar la calidad de aire en las ciudades y disminuyendo la contaminación local.

        <li>Cambio Climático
            La electromovilidad utiliza electricidad como fuente de alimentación, es decir, no ocurre combustión
            fósil (gasolina, diésel, gas) y, por lo tanto, no se producen emisiones directas de CO2, contribuyendo a
            combatir el cambio climático y sus efectos. Para maximizar sus beneficios, la electricidad puede ser
            generada con tecnologías de cero emisión, como las energías renovables.</li>

        <li>Contaminación Acústica
            Los vehículos eléctricos no emiten una gran cantidad de ruido, aspecto que se vuelve relevante cuando se
            encuentra con grandes cantidades de vehículos. De acuerdo con La Organización Mundial de la Salud (OMS),
            se recomienda que los niveles de ruido para espacios al aire libre no superen los 55 dB, por lo que el
            uso de vehículos eléctricos también reduciría la contaminación sonora y el impacto que esta tiene sobre
            el medio ambiente.</li>

        <li>Gestión de Residuos
            Los mecanismos y la tecnología que se emplea en los vehículos eléctricos no requieren de lubricantes y
            filtros, lo que reduce el manejo de residuos peligrosos. Asimismo, debido a que este tipo de vehículos
            utilizan un sistema de frenos regenerativos, los sistemas de frenos sufren un menor desgaste.
            Por otro lado, las baterías eléctricas, después de que hayan cumplido su ciclo de vida en el vehículo,
            pueden seguir siendo usadas para aplicaciones estacionarias y, posteriormente, pueden reciclarse.</li>

        <li>Eficiencia Energética
            La eficiencia energética en el transporte ocurre cuando utilizamos menos energía para transportar una
            determinada distancia a personas o carga. Un vehículo eléctrico permite realizar esto mientras gasta en
            torno a un quinto de la energía en comparación con un vehículo a combustión.</li>

        <li>Ciudades Inteligentes
            Las ciudades inteligentes, conocidas en inglés como Smart Cities, son un término enfocado al desarrollo
            urbano sostenible, dando respuesta tanto a las necesidades de la sociedad como de organizaciones y
            empresas. En estas ciudades se busca conseguir la eficiencia energética y reducir la emisión de CO2, de
            manera que se realice un impacto beneficioso al desarrollo económico y cuidado del medioambiente.
            La electromovilidad, a través de la innovación, infraestructura y tecnología, pueden responder a estas
            necesidades desde el ámbito de la movilidad al disminuir la emisión de CO2 y los gastos de uso de
            energía eléctrica.</li>

        <li>Mejora de la salud pública
            Al mejorar la calidad del aire, se generan beneficios directos en la salud y se presentaría una
            disminución de las enfermedades respiratorias vinculadas con la calidad del aire, principalmente en la
            población infanto-juvenil y en adultos mayores.</li>

        <li>Generación de empleos
            Las nuevas industrias generan empleos, tanto de manera directa como indirecta. De acuerdo con el
            artículo “5 beneficios de la electromovilidad en México, una alternativa sostenible para transformar las
            calles” de RER Energy Group (2023), se espera que el 50% de los autos que se vendan en México en el año
            2030 sean eléctricos. Si esto ocurre, para el año 2050 se podría llegar a un 90%, lo cual implicaría la
            consolidación de un sector encargado de proveer los empleos del futuro.</li>


        <h5>Cuestionario</h5>
        <li>De acuerdo con la tecnología de transporte, ¿cuál es la definición de electromovilidad?<br>
            <input type="radio" name="q1" value="A">A) Uso de sistemas de impulso o tracción que utilizan
            energía eléctrica.<br>
            <input type="radio" name="q1" value="A">B) Uso exclusivo de trenes y aviones eléctricos.<br>
            <input type="radio" name="q1" value="A">C) Uso de energía nuclear en el transporte.<br>
            <input type="radio" name="q1" value="A">D) Uso de energía solar en el transporte.<br>

        <li>¿Cuándo fue el origen de la electromovilidad en Francia?<br>
            <input type="radio" name="q2" value="A">A) En el año 2000.<br>
            <input type="radio" name="q2" value="A">B) En el siglo XVIII.<br>
            <input type="radio" name="q2" value="A">C) A finales del siglo XIX.<br>
            <input type="radio" name="q2" value="A">D) En el siglo XXI.<br>

        <li>¿Cuál fue el primer medio de transporte eléctrico en la Ciudad de México?<br>
            <input type="radio" name="q3" value="A">A) Autobús eléctrico.<br>
            <input type="radio" name="q3" value="A">B) Trolebús.<br>
            <input type="radio" name="q3" value="A">C) Metro.<br>
            <input type="radio" name="q3" value="A">D) Bicicleta eléctrica.<br>

        <li>¿Cuál es uno de los beneficios directos de la electromovilidad en la calidad del aire?<br>
            <input type="radio" name="q4" value="A">A) Aumento de la contaminación local.<br>
            <input type="radio" name="q4" value="A">B) Reducción de emisiones de gases y partículas.<br>
            <input type="radio" name="q4" value="A">C) Mayor contaminación acústica.<br>
            <input type="radio" name="q4" value="A">D) Aumento de la contaminación del agua.<br>

        <li>¿Qué contribución hace la electromovilidad en la lucha contra el cambio climático?<br>
            <input type="radio" name="q5" value="A">A) Produce emisiones directas de CO2.<br>
            <input type="radio" name="q5" value="A">B) Utiliza electricidad como fuente de alimentación.<br>
            <input type="radio" name="q5" value="A">C) Utiliza combustión fósil.<br>
            <input type="radio" name="q5" value="A">D) Aumenta el efecto invernadero.<br>

        <li>¿Qué efecto tiene la electromovilidad en la gestión de residuos?<br>
            <input type="radio" name="q6" value="A">A) Aumenta la cantidad de residuos peligrosos.<br>
            <input type="radio" name="q6" value="A">B) Reduce el manejo de residuos peligrosos.<br>
            <input type="radio" name="q6" value="A">C) Requiere más lubricantes y filtros.<br>
            <input type="radio" name="q6" value="A">D) Aumenta el desgaste de los sistemas de frenos.<br>

        <li>¿Cuál es uno de los beneficios indirectos de la electromovilidad en la salud pública?<br>
            <input type="radio" name="q7" value="A">A) Aumento de las enfermedades respiratorias.<br>
            <input type="radio" name="q7" value="A">B) Disminución de las enfermedades respiratorias.<br>
            <input type="radio" name="q7" value="A">C) Aumento de las enfermedades cardiacas.<br>
            <input type="radio" name="q7" value="A">D) Aumento de la obesidad.<br>

        <li>¿Qué impacto se espera en la generación de empleos con la consolidación de la electromovilidad
            en México?<br>
            <input type="radio" name="q8" value="A">A) No se espera ningún impacto.<br>
            <input type="radio" name="q8" value="A">B) Se espera una disminución de empleos.<br>
            <input type="radio" name="q8" value="A">C) Se espera una generación de empleos directa e indirecta.<br>
            <input type="radio" name="q8" value="A">D) Se espera una disminución de empleos directa e indirecta.<br>
            </a2
    </div>
</center>

{% endblock %}