{% extends 'base.html' %}

{% block cssfiles%}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}">
{% endblock %}

{% block content %}

{% load static %}

<div id="timer" style="color: white;">00:00.000</div>
        
        <section class="memory-game">
            {% for pair in card_pair_list %}
    
            <div class="memory-card" data-concept="{{pair.concept}}">
                <div class="front-face">
                    <p class="paragraph">{{pair.definition}}</p>
                </div>
                <img class="back-face" src="{% static 'img/logo.jpeg' %}" alt="BACK-FACE">
            </div>
            <div class="memory-card" data-concept="{{pair.concept}}">
                <div class="front-face">
                    <img class="img" src="{{pair.image.url}}" alt="{{pair.concept}}">
                    <p class="concept">{{pair.concept}}</p>
                </div>
                <img class="back-face" src="{% static 'img/logo.jpeg' %}" alt="BACK-FACE">
            </div>

            {% endfor %}
    

        </section>
      
<script src="{% static 'js/game.js'%}">
</script>
{% endblock %}