{% extends 'base.html' %}

{% block content %}

<center>
    <div class="contenido">
        <h1 class="texto">¡Bienvenido a MIND 4.0!</h1>
        <p>El juego de memoria que te sumerge en el futuro de la industria! </p>
        <br>
        <p>En la era digital actual, tres áreas tecnológicas están destacando por su impacto y potencial transformador:
            la Inteligencia Artificial (IA), la electromovilidad y la ciberseguridad. Cada una de estas tecnologías está
            revolucionando su respectivo campo y, juntas, están moldeando un futuro más inteligente, sostenible y seguro.</p><br>
        <h2>Inteligencia Artificial (IA)</h2>
        <p> La Inteligencia Artificial se refiere a la capacidad de las máquinas para realizar tareas que normalmente
            requieren inteligencia humana, como el aprendizaje, la percepción y la toma de decisiones. Desde su origen
            la década de 1950, la IA ha avanzado rápidamente, encontrando aplicaciones en diversos sectores, incluyendo
            la medicina, la industria y los servicios. La IA no solo mejora la eficiencia y la precisión, sino que también
            abre nuevas posibilidades para la innovación y el crecimiento.</p><br>
        <h2>Electromovilidad</h2>
        <p>La electromovilidad se centra en el uso de vehículos eléctricos y otras tecnologías de transporte que utilizan
            energía eléctrica en lugar de combustibles fósiles. Este cambio hacia la movilidad eléctrica es crucial para
            reducir las emisiones de gases de efecto invernadero y combatir el cambio climático. Además de sus beneficios
            ambientales, la electromovilidad también promete mejoras en la calidad del aire urbano y una reducción en la
            dependencia de los combustibles fósiles.</p><br>
        <h3>Ciberseguridad</h3>
        <p>Con el creciente uso de tecnologías digitales, la ciberseguridad se ha convertido en una preocupación crítica.
            La ciberseguridad abarca las prácticas y tecnologías utilizadas para proteger sistemas informáticos, redes y
            datos contra ataques cibernéticos, accesos no autorizados y daños. En un mundo donde los datos son el nuevo oro,
            proteger esta información es esencial para la confianza y la seguridad tanto de individuos como de organizaciones.</p>
    </div>
</center>
{% endblock %}