{% extends 'base.html' %}


{% block content %}

<center>

    <div class="contenido">
        <h1>¡I.A!</h1>
        <h2>¿Qué es?</h2>

        <p>Anteriormente, el término Inteligencia Artificial se relacionaba con literatura futurista en escenarios
            usualmente irreales. Sin embargo, gracias a los descubrimientos y avances tecnológicos, el concepto de
            inteligencia artificial ha adquirido un nuevo sentido.
            La Inteligencia Artificial (IA) es un campo de la ciencia de computación dedicado a diseñar tecnología que
            emule
            la inteligencia humana. Esto quiere decir que, mediante la creación de algoritmos y sistemas especializados,
            las
            máquinas pueden realizar procesos y tareas que usualmente requieren de la inteligencia humana, como el
            aprendizaje, el razonamiento y la percepción.
            El objetivo de IA es crear sistemas de autoaprendizaje que deriven de los datos para posteriormente aplicar
            ese
            conocimiento para resolver nuevos problemas de forma similar a como lo haría una persona.</p>

        <h3>ORIGEN</h3>

        DEl término de Inteligencia Artificial fue acuñado por el matemático John McCarthy en 1955. Un año después, se
        llevó a cabo la conferencia de Dartmouth, un evento histórico en el cual se reunieron científicos y expertos de
        la época para discutir más sobre el tema.
        Desde entonces, se ha visto un incremento exponencial en la difusión de la IA. Debido al aumento del
        financiamiento disponible y la expansión de herramientas algorítmicas, optimizaron el desarrollo de este campo.
        Actualmente, en una era moderna que tiene más información y datos de computación y potencia de procesamiento que
        en décadas anteriores, la investigación de la IA es ahora más común y accesible.

        <h4>Beneficios</h4>
        Actualmente, la IA se emplea para facilitar nuestras vidas diarias al ahorrarnos tiempo y esfuerzo en la
        ejecución de determinadas tareas. A continuación se describen los principales beneficios del uso de la
        inteligencia artificial como usuarios y en empresas:


        <li>Automatiza los procesos
            La inteligencia artificial permite que las máquinas realicen de manera automática y ágil las tareas que son
            consideradas por los seres humanos como repetitivas, tediosas o pueden requerir mucho tiempo.</li>

        <li>Agiliza y mejora los procesos de toma de decisiones
            Al ser capaz de analizar grandes cantidades de información y datos en menos tiempo que los seres humanos, la
            IA nos permite conocer cuál es la mejor alternativa y tomar decisiones fundamentadas con una visión más
            clara. </li>

        <li>Fomenta la creatividad
            Al disminuir el tiempo que se dedica a las tareas rutinarias y repetitivas, la IA permite que los empleados
            puedan destinar su tiempo a desarrollar su creatividad e incluso propuestas destinadas a mejorar el ritmo de
            trabajo, generando un ambiente laboral más agradable. </li>

        <li>Mejora la precisión y reduce el error humano
            La Inteligencia Artificial reduce los errores humanos que se pueden cometer al analizar grandes cantidades
            de datos, aumentando drásticamente las posibilidades de lograr un mayor grado de precisión.</li>

        <li>Aumenta la productividad y calidad en la producción
            La IA incrementa la productividad tanto a nivel de maquinaria como la de los trabajadores, mejorando la
            calidad del trabajo que estos realizan. Al otorgar mayor información y análisis más acertados, los
            trabajadores pueden tener una visión más focalizada del trabajo y tomar mejores decisiones.</li>

        <li>Avances en el sector de la salud
            En el campo de la medicina, la Inteligencia Artificial ha logrado grandes avances en el diagnóstico de
            enfermedades y análisis de imágenes médicas para conseguir tratamientos personalizados y mejorar los
            resultados de la investigación médica.</li>

        <li>Análisis de los errores de seguridad
            La IA también ayuda a prevenir, detectar y frenar posibles fraudes o ataques informáticos. Del mismo modo,
            contribuye a diseñar estrategias de rescate en situaciones de peligro.</li>

        <h5>Cuestionario</h5>
        <li>¿Cómo se define a la Inteligencia Artificial (IA)?<br>
            <input type="radio" name="q1" value="A">A) Como tecnología que emula la inteligencia humana.<br>
            <input type="radio" name="q1" value="A">B) Como una forma de vida artificial.<br>
            <input type="radio" name="q1" value="A">C) Como un método para controlar robots.<br>
            <input type="radio" name="q1" value="A">D) Como un tipo de inteligencia extraterrestre.<br>

        <li>¿Quién acuñó el término "Inteligencia Artificial" en 1955?<br>
            <input type="radio" name="q2" value="A">A) Alan Turing.<br>
            <input type="radio" name="q2" value="A">B) John McCarthy.<br>
            <input type="radio" name="q2" value="A">C) Marvin Minsky.<br>
            <input type="radio" name="q2" value="A">D) Herbert Simon.<br>

        <li>¿En qué año se llevó a cabo la conferencia de Dartmouth sobre Inteligencia Artificial?<br>
            <input type="radio" name="q3" value="A">A) 1945.<br>
            <input type="radio" name="q3" value="A">B) 1956.<br>
            <input type="radio" name="q3" value="A">C) 1965.<br>
            <input type="radio" name="q3" value="A">D) 1975.<br>

        <li>¿Cuál es uno de los beneficios de la Inteligencia Artificial en la toma de decisiones?<br>
            <input type="radio" name="q4" value="A">A) Reduce la cantidad de información disponible.<br>
            <input type="radio" name="q4" value="A">B) Aumenta el tiempo necesario para tomar decisiones.<br>
            <input type="radio" name="q4" value="A">C) Analiza grandes cantidades de información en poco tiempo.<br>
            <input type="radio" name="q4" value="A">D) Limita las opciones disponibles para tomar decisiones.<br>

        <li>¿Cómo fomenta la Inteligencia Artificial la creatividad en el trabajo?<br>
            <input type="radio" name="q5" value="A">A) Aumentando el tiempo dedicado a tareas rutinarias.<br>
            <input type="radio" name="q5" value="A">B) Reduciendo el tiempo dedicado a tareas repetitivas.<br>
            <input type="radio" name="q5" value="A">C) Permitiendo a los empleados dedicar más tiempo a actividades
            creativas.<br>
            <input type="radio" name="q5" value="A">D) Limitando la capacidad de los empleados para proponer
            mejoras.<br>

        <li>¿Qué beneficio tiene la Inteligencia Artificial en la productividad y calidad en la producción?<br>
            <input type="radio" name="q6" value="A">A) Reduce la calidad del trabajo.<br>
            <input type="radio" name="q6" value="A">B) Aumenta la cantidad de errores humanos.<br>
            <input type="radio" name="q6" value="A">C) Incrementa la productividad y mejora la calidad del trabajo.<br>
            <input type="radio" name="q6" value="A">D) Limita la cantidad de información disponible para los
            trabajadores.<br>

        <li>¿En qué campo ha logrado grandes avances la Inteligencia Artificial en el diagnóstico de enfermedades?<br>
            <input type="radio" name="q7" value="A">A) Educación.
            <input type="radio" name="q7" value="A">B) Agricultura.
            <input type="radio" name="q7" value="A">C) Medicina.
            <input type="radio" name="q7" value="A">D) Transporte.

        <li>¿Cómo contribuye la Inteligencia Artificial a la seguridad informática?<br>
            <input type="radio" name="q8" value="A">A) Ayuda a aumentar los errores de seguridad.<br>
            <input type="radio" name="q8" value="A">B) Contribuye a detectar posibles fraudes o ataques
            informáticos.<br>
            <input type="radio" name="q8" value="A">C) Limita la capacidad de prevenir ataques informáticos.<br>
            <input type="radio" name="q8" value="A">D) No tiene impacto en la seguridad informática.<br>

</center>

{% endblock %}